{% extends "GeneralLayoutView/GeneralSectionView.html.twig" %}

{% block timeline %}
		<div class="footer-content">
			<h2>Privacy</h2>
			<p> 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium risus at egestas tristique. Aliquam pharetra mollis iaculis. Sed condimentum nisl id orci consectetur maximus. Donec pulvinar porta tortor, quis volutpat nulla tincidunt id. Vestibulum et metus et elit semper ullamcorper a non odio. Nam maximus ac felis eget dictum. Sed quis dictum est. Aliquam erat volutpat. Morbi aliquam posuere aliquet. Vestibulum et eros enim. Nam eget arcu molestie, gravida diam suscipit, maximus dui. In quis orci aliquet, eleifend sem at, accumsan enim.
			</p>
			<p>
				Cras consequat nibh magna, id feugiat eros lobortis non. Suspendisse potenti. Maecenas non suscipit purus. Fusce viverra porta semper. Suspendisse ac consequat felis, at vehicula magna. Morbi malesuada urna tincidunt arcu tincidunt ultricies. In feugiat justo at rhoncus porttitor. Maecenas at leo malesuada, ultrices lacus vitae, pellentesque magna. Nunc elit quam, maximus in felis quis, efficitur ultrices sem. Curabitur lacinia cursus lobortis. 
			</p>
		</div>
{% endblock %}