<div id="footer"> 
	<div class="footer-item">Copyright 2015 Nicolas Torre</div> 
	<a href="#" class="footer-item">Terms</a>
	<a href="#" class="footer-item">Privacy</a>
	<a href="#" class="footer-item">Cookies</a>
</div>