<div id="songlist"> <!--*http://codepen.io/pedronauck/pen/fcaDw-->
	<div class="container">
		<h1 class="title">Songs list</h1>
		<ul>
			{% for tunecategory in data.tunelistwidget %}
		    <li class="dropdown">
				<a href="#" data-toggle="dropdown"> {{ tunecategory.category }} <i class="icon-arrow"></i></a>
				<ul class="dropdown-menu">
					{% for tune in tunecategory.tunelist %}
					<li><a href="{{ tune.url }}">{{ tune.title }}</a></li>
					{% endfor %}
				</ul>
		    </li>
		    {% endfor %}
		</ul>
	</div>
</div>