<div id="suggestedfriends">
	<h2>Suggested friends</h2>
	<ul>
		{% for suggestedfriends in data.suggestedfriends %}
		<li class="item-suggestedfriends">
			<img class="profil-pic" src="Ressources/public/images/{{ suggestedfriends.pseudo }}.png" alt="photo profil">
			<a href="{{ suggestedfriends.url }}">{{ suggestedfriends.pseudo }}</a>
		</li>
		{% endfor %}
	</ul>
</div>