body
{
	background-color: #F39C12;
	font-family: Arial, verdana, sans-serif;
}

header
{
	position: fixed;
	top:0;
	left:0;
	background-color: #FFECBF;
	width: 98%;
	height: 20px;
	padding: 1%;
}

#lang
{
	overflow: hidden;
}

#lang input
{
	float: right;
	margin: 0 1em;
}

section
{
	width: 100%;
	margin:auto;
	margin-top: 100px;
	overflow: hidden;
}

section #flashbag + div
{
	margin: 0 auto;
}

h1
{
	font-size: 40px;
	font-weight: bold;
	margin: 0.5em;
}

p
{
	font-size: 20px;
	margin: 0.5em;
}

#desc
{
	float: left;
	width: 25%;
}

#auth, #inscription
{
	float: left;
	width: 15%;
	margin: 2em;
}

h2
{
	font-size: 20px;
	font-weight: bold;
}

label, input
{
	display: block;
	margin: 0.5em 0;
}

.box
{
	background-color: #FFECBF;
	border-radius: 5px;
	margin: 20px;
	padding: 1em;
}

input[type="submit"], input[type="button"], .button
{
	background-color: #F39C12;
	border: medium none;
	padding: 8px;
	border-radius: 7px;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	cursor: pointer;
	margin-top: 5px;
}