body
{
	background-color: #F39C12;
	font-family: Arial, verdana, sans-serif;
}

section
{
	width: 100%;
	margin:auto;
	margin-top: 50px;
}

#lang
{
	float: none;
	width: 25%;
	margin: auto;
}

div
{
	margin: auto;
	width: 70%;
}

#auth, #inscription
{
	float: left;
	width: 30%;
	margin: 2em;
}

label, input
{
	display: block;
	margin-bottom: 1em;
}

.box
{
	background-color: white;
	border-radius: 5px;
	margin: 20px;
	padding: 1em;
}