body
{
	background-color: #F39C12;
	font-family: Arial, verdana, sans-serif;
}

header
{
	position: fixed;
	top:0;
	left:0;
	background-color: #FFECBF;
	width: 98%;
	height: 20px;
	padding: 1%;
}

#lang
{
	overflow: hidden;
}

#lang input
{
	float: right;
	margin: 0 1em;
}

#lang input[value="Fr"], #lang input[value="En"]
{
	background-image: url("../images/app/fr.png");
	background-repeat: no-repeat;
	width: 30px;
	height: 20px;
	border-radius: 0px;
	color: transparent;
}

#lang input[value="Fr"]
{
	background-image: url("../images/app/fr.png");
}

#lang input[value="En"]
{
	background-image: url("../images/app/en.png");
}

input[type="submit"], input[type="button"], .button
{
	background-color: #F39C12;
	border: medium none;
	padding: 8px;
	border-radius: 7px;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	cursor: pointer;
	margin-top: 5px;
}

input[type="submit"]:hover, input[type="button"]:hover, .button:hover
{
	background-color: #96281B;
	color: #FDEDBE;
}

section
{
	min-width: 500px;
	margin: 100px 3%;
	overflow: hidden;
}

#flashbag
{
	/*background-color: #96281B;
	color: rgba(255, 255, 204, 0.9);*/
	font-size: 25px;
	font-weight: bold;
	margin: auto;
	width: 60%;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	margin-bottom: 1em;
}

h1
{
	font-size: 40px;
	font-weight: bold;
	margin: 0.5em;
}

p
{
	font-size: 20px;
	margin: 0.5em;
}

#desc
{
	float: left;
	width: 30%;
	margin-left: 4%;
}

#auth
{
	margin: 0 30% 0 35%;
}

#inscription
{
	float: right;
	width: 22%;
	margin-right: 2%;
}

h2
{
	font-size: 20px;
	font-weight: bold;
}

label, input
{
	display: block;
	margin: 0.5em 0;
}

.box
{
	background-color: #FFECBF;
	border-radius: 5px;
	padding: 1em;
}

input[type="submit"], input[type="button"], .button
{
	background-color: #F39C12;
	border: medium none;
	padding: 8px;
	border-radius: 7px;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	cursor: pointer;
	margin-top: 5px;
}

@media screen and (min-width: 640px) {
	#authresp
	{
		display: none;
	}
}

@media screen and (max-width: 640px) {
	section
	{
		margin: 2em 0 0 0;
		padding: 0;
	}

	#flashbag
	{
		margin: 0.5em 0 0.5em 0;
	}

	#auth
	{
		display: none;
	}

	#desc, #inscription, #authresp
	{
		display: block;
		position: static;
		float: none;
		margin: 0.5em 0.5% 0.5em 0.5%;
		width: 100%;
	}
}

/*screensaver*/

#screensaver{
  background: none;
  background-image: url('../images/app/notes.png'), url('../images/app/notes.png'), url('../images/app/notes.png');
  height: 10000px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:1000;
  -webkit-animation: notes 10s linear infinite;
  -moz-animation: notes 10s linear infinite;
  -ms-animation: notes 10s linear infinite;
  animation: notes 10s linear infinite;
}
@keyframes notes {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes notes {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes notes {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes notes {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
} 