
#profilCard
{
	position: relative;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
}

#profilCard > img
{
	width: 72px;
  height: 72px;
	border: 2px solid black;
	border-radius: 5px;
}

#profilCard h1
{
	position: absolute;
	top: 35%;
	left: 100px;
	font-size: 20px;
	font-weight: bold;
}

#profilCard ul
{
	position:absolute;
	top: 60%;
	left: 100px;
}

#profilCard li
{
	float: left;
	margin: 10px;
}

/****************************************/
#discussionlist
{
  position: relative;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

.item-discu
{
  border-bottom: 1px solid #E1E8ED;
  min-height: 20px;
  padding: 1em;
}

.item-discu .profil-pic
{
  float: left;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  margin-right: 20px;
  border-radius: 5px;
}

.item-discu .profile
{
  font-weight: bold;
  margin-bottom: 10px;
}

#songlist
{
	position: relative;
	background-color: white;
	border-radius: 5px;
	margin-top: 10px;
	padding: 10px;
}

#songlist h2
{
	font-size: 20px;
	color: #66757F;
	margin-bottom: 10px;
}

.category
{
	margin-bottom: 10px;
}

.category h3 + ul
{
	margin: 5px 0 0 20px;
}

#timeline
{
	background-color: white;
	float: left;
	margin: 0px 2%;
	width: 50%;
	border-radius: 5px;
	padding: 5px;
}

#edit-news
{
	padding: auto;
}

#edit-news
{
	min-height: 51px;
	padding: 3%;
	border-bottom: 1px solid #E1E8ED;
}

#edit-news textarea
{
	margin: auto;
	width: 99%;
}

.item-news
{
	border-bottom: 1px solid #E1E8ED;
	min-height: 51px;
	padding: 1em;
}

.item-news .profil-pic
{
	float: left;
	width: 40px;
  height: 40px;
	border: 2px solid black;
	margin-right: 20px;
	border-radius: 5px;
}

.item-news .profile
{
	font-weight: bold;
	margin-bottom: 10px;
}

.item-notif
{
	border-bottom: 1px solid #E1E8ED;
	min-height: 51px;
	padding: 1em;
}

.item-notif .profil-pic
{
	display: inline;
	width: 40px;
  height: 40px;
	border: 2px solid black;
	border-radius: 5px;
}

.item-notif .profile
{
	display: inline;
	font-weight: bold;
	margin-bottom: 10px;
}

.friends
{
  float: left;
  margin: 10px;
  padding: 10px;
}

.friends .profil-pic
{
  width: 40px;
  height: 40px;
  border: 2px solid black;
  margin-right: 20px;
  border-radius: 5px;
}

.friends .profile
{
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}

#suggestedfriends
{
	background-color: white;
	border-radius: 5px;
	padding: 10px;
}

#suggestedfriends h2
{
  font-family: 'Arial';
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  color: #3498DB;
  margin-bottom: 15px;
}

#suggestedfriends li
{
	margin-bottom: 5px;
	line-height: 30px;
	min-height: 35px;
}

.item-suggestedfriends .profil-pic
{
	float: left;
	width: 30px;
  height: 30px;
	border: 1px solid black;
	margin-right: 20px;
	border-radius: 5px;
}


/*Song list menu*/
.container {
  margin: 5px auto;
}
.container > ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.title {
  font-family: 'Arial';
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  color: #3498DB;
  margin-bottom: 15px;
}

.dropdown a {
  text-decoration: none;
}
.dropdown [data-toggle="dropdown"] {
  position: relative;
  display: block;
  color: white;
  background: #3498DB;
  -moz-box-shadow: 0 1px 0 #0665A2 inset, 0 -1px 0 #0665A2 inset;
  -webkit-box-shadow: 0 1px 0 #0665A2 inset, 0 -1px 0 #0665A2 inset;
  box-shadow: 0 1px 0 #0665A2 inset, 0 -1px 0 #0665A2 inset;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.dropdown [data-toggle="dropdown"]:hover {
  background: #2c89c6;
}
.dropdown .icon-arrow {
  position: absolute;
  display: block;
  font-size: 0.7em;
  color: #fff;
  top: 14px;
  right: 10px;
}
.dropdown .icon-arrow.open {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}
.dropdown .icon-arrow.close {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}
.dropdown .icon-arrow:before {
  content: '\25BC';
}
.dropdown .dropdown-menu {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown .dropdown-menu li {
  padding: 0;
}
.dropdown .dropdown-menu li a {
  display: block;
  color: #6e6e6e;
  background: #EEE;
  -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d4d4d4 inset;
  -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d4d4d4 inset;
  box-shadow: 0 1px 0 white inset, 0 -1px 0 #d4d4d4 inset;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
  padding: 10px 10px;
}
.dropdown .dropdown-menu li a:hover {
  background: #f6f6f6;
}
.dropdown .show, .dropdown .hide {
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.dropdown .show {
  display: block;
  max-height: 9999px;
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  animation: showAnimation 0.5s ease-in-out;
  -moz-animation: showAnimation 0.5s ease-in-out;
  -webkit-animation: showAnimation 0.5s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}
.dropdown .hide {
  max-height: 0;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  animation: hideAnimation 0.4s ease-out;
  -moz-animation: hideAnimation 0.4s ease-out;
  -webkit-animation: hideAnimation 0.4s ease-out;
  -moz-transition: max-height 0.6s ease-out;
  -o-transition: max-height 0.6s ease-out;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}

@keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-moz-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-moz-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-webkit-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}


/**********************************************************************************/
#msglist
{
  max-height: 500px;
  /*overflow-y: scroll;*/
  overflow: auto;
}

.item-msg
{
  border-bottom: 1px solid #E1E8ED;
  min-height: 51px;
  padding: 1em;
}

.item-msg .profil-pic
{
  float: left;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  margin-right: 20px;
  border-radius: 5px;
}

.item-msg .profile
{
  font-weight: bold;
  margin-bottom: 10px;
}

#sendmsg
{
  border-top: 1px solid #E1E8ED;
  min-height: 81px;
  padding: 3%;
}

#sendmsg textarea
{
  margin: auto;
  width: 99%;
  height: 70px;
}

/*************************************************************************************/
#parameterspage
{
  width: 60%;
  margin: auto;
  padding: 1em;
}

#parameterspage h2
{
  color: #66757F;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

#parameterspage h3
{
  color: #66757F;
  font-size: 14px;
  margin-bottom: 2em;
}

#parameterspage label
{
  float: left;
  width: 100px;
  margin-bottom: 1em;
}

#parameterspage input, select
{
  display: block;
  margin-left: 120px;
  margin-bottom: 1em;
}

/************************************************************************************************/
#newsong
{
  width: 60%;
  margin:auto;
  padding: 1em;
}

#newsong h2
{
  color: #66757F;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 2em;
}

#newsong label
{
  float: left;
  width: 150px;
  margin-bottom: 1em;
}

#newsong input, select
{
  display: block;
  margin-left: 150px;
  margin-bottom: 1em;
}


/************************************************************************************************/

#tuneslist
{
  padding: 2em;
}

#tuneslist > table
{
  width: 95%;
  margin: auto;
}

#tuneslist table tr
{
  margin-top: 0.5em;
}

#tuneslist table tr td, #tuneslist table tr th
{
  width: 100px;
  overflow:hidden;
  margin-right: 0.2em;
  text-align: center;
  border: 1px solid #66757F;
}

#tuneslist table .item-even
{
  background-color: gray;
}

.share
{
  display: inline-block;
  background-image: url("../images/app/share.png");
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.del
{
  display: inline-block;
  background-image: url("../images/app/delete.png");
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.viewtune
{
  display: inline-block;
  background-image: url("../images/app/filemusic.png");
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}


/* tunepage */
#tunepage
{
  padding: 2em;
}

#tunepage iframe
{
  margin-top: 2em;
  width: 100%;
  height: 800px;
  border: 1px solid #000;
}