
/*

1. Menu principal
2. Section (contenu du site)
3. Pseudo et photo de profile
4. Module profilcard
5. News timeline
6. Notifications timeline
7. Discussion list module
8. Messagews timeline
9. Friends timeline
10. Suggested friends module
11. Parameters timeline
12. NewSong timeline
13. Tuneslist timeline
14. Tune timeline
15. Footer content


/* 1. Menu principale */
nav
{
	position: fixed:
	top: 0;
	height: 50px;
	min-width: 1000px;
	background-color: #96281B;
}

#mobile-menu
{
	display: none;
}

nav > ul
{
	margin-left: 5%;
	float: left;
}

nav > ul + ul
{
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 5%;
}

nav li
{
	position: relative;
	list-style: none;
	margin: 0 10px 0 10px;
	display: inline-block;
	line-height: 50px;
	font-size: 18px;
	padding: 0 5px 0 5px;
}

.minibox
{
	position: absolute;
	top: 16px;
	left: 100px;
	width: 20px;
	height: 20px;
	background-color: #F39C12;
	line-height: 20px;
	display: block;
	text-align: center;
	border-radius: 5px;
}

nav li.on:hover, nav li.off:hover
{
	background-color: #E74C3C;
}

nav .on
{
	background-color: #E74C3C;
}

nav li > form
{
	width: 170px;
}

#search-container
{
	position: relative;
	display: block;
	height: 25px;
}

#inputsearch
{
	position: absolute;
	top: 5px;
	right: 0px;
	width: 170px;
	height: 20px;
	margin: 0;
	padding: 0 0.3em;
	border: none;
	height: 25px;
}

#submitsearch
{
	position: absolute;
	top: 5px;
	right: 0px;
	margin: 0;
	padding: 0.2em;
	border: none;
	border-radius: 0px;
	height: 25px;
}

li.icon
{
	line-height: 50px;
}

#parameters-container
{
	position: relative;
	height: 50px;
}

#parameters-container a
{
	display: inherit;
}

nav li #parameters > img
{
	position: relative;
	top: 8px;
}

nav li > img
{
	position: relative;
	top: 4px;
	margin-right: 5px;
}

#parameters-container ul
{
	display: none;
}

#parameters-container:hover ul
{
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 1000;
	display: block;
	background-color: #96281B;
	width: 100px;
}

#parameters-container ul li
{
	font-size: 14px;
	font-weight: bold;
	color: #FDEDAC;
	margin: 0;
	padding: 0;
	width: inherit !important;
	text-align: center;
}

#parameters-container ul li a
{
	display: inherit !important;
	width: inherit !important;
}

#footer a:hover, #profilCard a:hover
{
	text-decoration: underline;
}

/* 2. Section (contenu du site) */
section /*;)*/
{
	margin: 10px 3%;
	min-width: 1050px;
}

#dashboard-left > *, #dashboard-right > *, #timeline, #footer
{
	padding: 10px; /* // ;) */
}

#dashboard-left /*;)*/
{
	float: left;
	width: 22%;
}

#timeline /*;)*/
{
	margin: 0px 25%;
	border-radius: 5px;
	padding: 5px;
	min-height: 500px;
}

#dashboard-right /*;)*/
{
	float: right;
	width: 22%;
}

#newsong h2
{
  margin-bottom: 2em;
}

#newsong label
{
  float: left;
  width: 150px;
  margin-bottom: 1em;
}

#newsong input, select, #musiceditor-button
{
	max-width: 120px;
	display: block;
	margin: 1em 0 1em 150px;
}

#musiceditor-button
{
	text-align: center;
}