
.discussion
{
	border-bottom: 1px solid #E1E8ED;
	min-height: 51px;
	padding: 1em;
}

.discussion .profil-pic
{
	float: left;
	width: 40px;
	border: 2px solid black;
	margin-right: 20px;
	border-radius: 5px;
}

.discussion .profile
{
	margin-bottom: 10px;
}