.menu, #songlist, #suggestedfriends, #footer
{
	display: none;
}

nav li #parameters > img
{
	display: none;
}

section
{
	width: 100%;
}

#dashboard-left, #timeline, #dashboard-right
{
	width: 98%;
	margin: 10px 1%;
}

#profilCard
{
	padding: 5px;
}

#newsong h2
{
	font-size: 20px;
	margin: 0;
	margin-bottom: 0.5em;
}

#newsong label, #newsong input, #newsong select, #musiceditor-button
{
	display: block;
	max-width: 120px;
	margin: 0.5em 0 0.5em 0;
}

#parameterspage
{
	width: 100%;
	padding: 0.5em;
}

#parameterspage textarea
{
	max-width: 90%;
	height: 3em;
}

#tunepage h2
{
	font-size: 25px;
}

#tunepage iframe
{
	width: 100%;
	height: 200px;
}

/************************************************************************/
/* Code responsive table from http://elvery.net/demo/responsive-tables/ */

#parameterspage .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
#parameterspage * html .cf { zoom: 1; }
#parameterspage *:first-child+html .cf { zoom: 1; }

#parameterspage table { width: 100%; border-collapse: collapse; border-spacing: 0; }

#parameterspage th,
#parameterspage td { margin: 0; vertical-align: top; }
#parameterspage th { text-align: left; }

#parameterspage table { display: block; position: relative; width: 100%; }
#parameterspage thead { display: block; float: left; }
#parameterspage tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
#parameterspage thead tr { display: block; }
#parameterspage th { display: block; text-align: right; }
#parameterspage tbody tr { display: inline-block; vertical-align: top; }
#parameterspage td { display: block; min-height: 1.25em; text-align: left; }


/* sort out borders */

#parameterspage th { border-bottom: 0; border-left: 0; }
#parameterspage td { border-left: 0; border-right: 0; border-bottom: 0; }
#parameterspage tbody tr { border-left: 1px solid #babcbf; }
#parameterspage th:last-child,
#parameterspage td:last-child { border-bottom: 1px solid #babcbf; }

/************************************************************************/