{% extends "GeneralLayoutView/GeneralLayoutView.html.twig" %}

{% block head %}
	{{ parent() }}
	<link rel='stylesheet' href='Ressources/public/css/Home.css' type='text/css'>
	<script src="Ressources/public/js/VerticalMenu.js"></script>
{% endblock %}

{% block section %}
	<div id="dashboard-left">

		{% include ("ComponentView/ProfilCardView.html.twig") %}

		{% include ("ComponentView/SongslistWidgetView.html.twig") %}

	</div>

	<div id="timeline">
		{% block timeline %}
		{% endblock %}
	</div>

	<div id="dashboard-right">
		{% include ("ComponentView/SuggestedfriendsView.html.twig") %}
			
		{% include ("ComponentView/FooterView.html.twig") %}
	</div>
		
{% endblock %}
